

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-554701109965358320.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-554701109965358320.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-554701109965358320.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-554701109965358320.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-554701109965358320.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-554701109965358320.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-554701109965358320.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-554701109965358320.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-554701109965358320.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-554701109965358320.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-554701109965358320.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-554701109965358320.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-554701109965358320.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-554701109965358320.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-554701109965358320.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-554701109965358320.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-554701109965358320.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-554701109965358320.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-554701109965358320.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-554701109965358320.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-554701109965358320.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-554701109965358320.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-554701109965358320.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-554701109965358320.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-554701109965358320.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-554701109965358320.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-554701109965358320.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-554701109965358320.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-554701109965358320.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-554701109965358320.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-554701109965358320.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-554701109965358320.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-554701109965358320.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-554701109965358320.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-554701109965358320.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-554701109965358320.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-554701109965358320.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-554701109965358320.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-554701109965358320 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-554701109965358320 .gp-relative{position:relative}.gps-554701109965358320 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-554701109965358320 .gp-mb-0{margin-bottom:0}.gps-554701109965358320 .gp-flex{display:flex}.gps-554701109965358320 .gp-grid{display:grid}.gps-554701109965358320 .\!gp-hidden{display:none!important}.gps-554701109965358320 .gp-hidden{display:none}.gps-554701109965358320 .gp-max-w-full{max-width:100%}.gps-554701109965358320 .gp-flex-col{flex-direction:column}.gps-554701109965358320 .gp-gap-y-0{row-gap:0}.gps-554701109965358320 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-554701109965358320 .gp-duration-200{transition-duration:.2s}.gps-554701109965358320 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-554701109965358320 .tablet\:\!gp-hidden{display:none!important}.gps-554701109965358320 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-554701109965358320 .mobile\:\!gp-hidden{display:none!important}.gps-554701109965358320 .mobile\:gp-hidden{display:none}}.gps-554701109965358320 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-554701109965358320 .\[\&_p\]\:gp-inline p{display:inline}.gps-554701109965358320 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-554701109965358320 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gNEPkaHcgi" data-id="gNEPkaHcgi"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNEPkaHcgi gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gExFJ0ALuv gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g4Ej3bDkV7" data-id="g4Ej3bDkV7"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4Ej3bDkV7 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gdXJU1iLg- gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gG26_e5QV_">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gG26_e5QV_ "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggG26_e5QV__text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gY8GKbgBxw">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gY8GKbgBxw "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggY8GKbgBxw_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-554701109965358320 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/useatomic/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=554569433683591988&sectionId=554701109965358320)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggG26_e5QV__text","label":"ggG26_e5QV__text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."},{"type":"html","id":"ggY8GKbgBxw_text","label":"ggY8GKbgBxw_text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
